/* common css */
body{
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
}
.common-btn{
    background-color: #e55473;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    text-transform: capitalize;
    display: inline-block;
}
p{
color: #a08f8f;
font-size: 12px;
line-height: 23px;
}

/* Banner area css start from here */
.header-area{
    background-color:#fceef1;
    
}
.container{
    width: 80%;
    margin: auto;
}
.banner{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;

}
.banner-left{
    width: 50%;
    
    
}
.banner-left h1{
    
    font-size: 55px;
    color: #272727;
    
}
.banner-left p{
    font-size: 12px;
    
    margin-bottom: 30px;
}
.banner-right{
    width: 50%;
   
}
.banner-right .img-area{
    width:450px;
    
}
.banner-right .img-area img{
    width: 80%;
   
}
/* banner area end here */

/* instragram area css */
.instra-area{
    margin-top: 80px;
}
.instra-content{
    margin: auto;
    text-align: center;
    width: 35%;
}
.instra-content h3{
    font-size: 30px;
    text-transform: capitalize;
}
.instragram-boxes{
    display: flex;
    height: 60vh;
    justify-content: space-between;
    
}
.instragram-boxes .box{
    width: 23%;
    

}
.instragram-boxes .box img{
    width: 99.5%;
}



/* deal area css */
.deal-area{
    margin-bottom: 80px;
}
.deal-content{
    background-image: url("./img/Rectangle\ 9.png");
    text-align: center;
    margin: auto;
    padding: 80px;

}
.deal-content h2{
font-size: 30px;
margin-bottom: 2px;
}
input{
    font-size: 12px;
    padding: 12px;
    width: 42%;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}






/* footer area */
footer{
    background-color: #272727;
}
.footer-area{
    width: 35%;
    text-align: center;
    margin: auto;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-area h4{
    font-size: 30px;
    color: white;
    margin-bottom: 2px;

}
.footer-area h4 span{
    color: #e55473;
}

